In [10]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('scraped_DB/book_scrapping.db')

## Get Repeated Books In the Site

In [11]:
SQL_Query = f"""
SELECT 

b.book_name        AS 'Book Name',
c.cat_name         AS 'Category Name',
COUNT(b.book_name) AS 'Book Count'

FROM 

_0_0_categories AS c
INNER JOIN
_0_1_books      AS b

WHERE c.cat_id = b.cat_id
GROUP BY b.book_name
HAVING COUNT(b.book_name)>1;

"""
df = pd.read_sql(SQL_Query, conn)
df

,Book Name,Category Name,Book Count
0,#HigherSelfie: Wake Up Your Life. Free Your So...,Nonfiction,6
1,A Fierce and Subtle Poison,Young Adult,3
2,A Flight of Arrows (The Pathfinders #2),Historical Fiction,2
3,A Gentleman's Position (Society of Gentlemen #3),Romance,2
4,A Girl's Guide to Moving On (New Beginnings #2),Romance,2
...,...,...,...
214,What Happened on Beale Street (Secrets of the ...,Mystery,2
215,Wild Swans,Young Adult,3
216,World Without End (The Pillars of the Earth #2),Historical Fiction,2
217,Worlds Elsewhere: Journeys Around Shakespeareâ...,Nonfiction,6
218,orange: The Complete Collection 1 (orange: The...,Sequential Art,4